
/**************************************** 
palette
****************************************/
$white: #ffffff;
$primary: #0282f9;
$header-text: #464646;
$footer-text: #797979;
$bg-footer: #303030;
$bg-main: #1c1c1c;
